.header{
    display: flex;
    background-color: #FFC105;
    flex-direction: row;
}

.header img{
    width: 13%;
    height: 80%;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    height: 4vh;
    width: 60vh;
    position: relative;
    align-self: center;
    border: none;
    background-color: rgb(255, 255, 239);
    border-radius: 8px;
    padding: 1vh;
}